#Intentionally untracked files to ignore

##JetBrains IDEs
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
out/

##Eclipse IDE
local.properties
bin/
tmp/
*~.nib
*.tmp
*.bak
*.swp
*.launch
*.pydevproject
.settings/
.externalToolBuilders/
.metadata
.gradle
.loadpath
.cproject
.buildpath
.target
.texlipse

##SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

##Java
META-INF/
MANIFEST.MF/
*.class
*.jar
*.war
*.ear
hs_err_pid*


##PHP
!empty
tmp/*
app/tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
fuel/app/logs/*/*/*
fuel/app/cache/*/*


##Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


##Windows
*.lnk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/




